
/***************************************************************
	
		Hoja de estilos; Composición.
		Autor: Eduardo Pérez Cañas
	
***************************************************************/

/* =Composición
--------------------------------------------------------------*/

html, body {
	text-align:center;
	height: 100%;
}

div#contenedor {
	/*width:1000px; */ /*anchura en pixeles (975px era previamente)*/
	width: 80%;  
	height: 100%;
	text-align: center;
	margin:0 auto;      	
}

div#cabecera {
	/*height:80px;*/
	height: auto;
	background: #9CF;
	color: #fff;
/*margin: 10px 0 10px 0;
	padding-top: 10px;*/
	margin: 0.3% 0 0.3% 0;
	padding: 0.8% 0 0.8% 0;
	text-align: center;
}

div#contenido {
	/*margin-left:350px;
	width:525px;*/
	width: 100%;
	height: 80%;
	/*margin: 10px 0 10px 0;*/
margin: 0.3% 0 0 0;
	text-align:center;
	/*min-height:700px;*/
	z-index: 1;
	
}

div#grafico {
	float: left;
	/*margin-right: 5px;
	padding: 20px 0 0 0; */
	/*width: 700px; */		/*Altura y anchura en pixeles*/
	/*height: 700px; */
	width: 74.8%;
	height: 98%; 
	margin-right: 0.3%;
	padding: 1% 0 0 0;
	border: 1px solid #9CF;
	background-color: #fff;
	position: relative;
	overflow: hidden; 
}

#inset  {
   /* width: 100px; */
   /* height: 100px; */
   width: 15%;
   height: 15%;
    background-color: #fff; /* or transparent; */
    border: 1px solid black; /* or none; */
   /* margin: 10px;
    padding: 0px; */
	/*margin: 10%;*/
    position: absolute;
   /* left: 0px; */
   left: 0.5%;
   /*	top: 600px; */
   top: 84%;
    z-index: 1;
}

#stats {

   /* width: 100px;
    height: 100px;*/
	width: auto;
	height: auto;
    background-color: #fff; /* or transparent; */
    margin: 0px;
    padding: 0px;
    position: absolute;
   /* right: 0px;
   	bottom: 0px; */
	right: 0%;
	bottom: 0%;
    z-index: 1;

}

#botonAyuda {
	width: 3%;
	height: 3%;
	position: absolute;
	left: 0%;
	top: 0%;
	z-index: 1;
}

div#interfaz {
	/*margin-left: 5px;*/
	float: left;
	/*width: 260px;*/
	width: 24%; 
	height: auto;
	border: 1px solid black;
	background-color: #000;
	z-index:1;
}

div#pie {
	/*height: 20px;*/
	width: 100%;
	height:auto;
	text-align:center;	
	background: #9CF;
	color: #000;
	font-weight: bold;
margin: 0.3% 0 0.3% 0;
	padding: 0.5% 0 0.5% 0;
}

div#mserror {
	text-align:center;
	/*position: relative; */
	/*margin-bottom: 0.5%;*/
	height: auto;
	
}

div#pregunta , div#test {
	/*width: 913px; */
	/*width: 100%;*/
	height: auto;
	margin-bottom: 0.3%;
	padding: 2%;
	border: 1px solid #9CF;
	font-size: 14px;
	/*font-weight: bold; */
	color: black;
}

div#respuestas {
	/*width: 913px;*/
	/*width: 100%;*/
	height: auto;
	margin: 0.3% 0 0.3% 0;
	padding: 2%;
	/*top: 85%;*/
	border: 1px solid #9CF;
	font-size: 14px;
	font-weight: bold;
	color: black;
	text-align:center; 
}

div#correcto, div#incorrecto {
	width: auto;
	height: auto;
	/*margin-top: 5px;*/
	margin: 0.3%;
	padding: 0.3% 0 0.3% 0;
	font-size: 25px;
	text-align:center;
}

#login{
	margin:auto;
	text-align:center;
}

div#crearVector {
	margin:auto;
	text-align:center;
	z-index: 100;
}

div#graficaNotas {
	width: auto;
	text-align:center;

}

div#barramenu {
	text-align:center;
}

div#formularioregistro, #formularioRecuperaContraseña {
	text-align:center;
	/*margin: 1% 0.5% 1% 0.5%;*/
	margin: auto;
	line-height: 3;
}

.botones {
	margin-top: 1%;
}

.disponible {
	border: 5px solid green;
}

.noDisponible {
	border: 5px solid red;
}

#ventanaAyuda {
	z-index: 101;
}